<div class="header">
  <img alt="desktop-logo" class="desktop-logo-img" [src]="'desktop-logo' | appIcon" />
  <img alt="mobile-logo" class="mobile-logo-img" [src]="'mobile-logo' | appIcon"  />
</div>
<div class="banner-lg">
  <h1 class="heading-color mt-0">The weather in every corner of the world.</h1>
  <p class="text-color">Pick a place on the map and find out the weather. Plan better your trips or daily tasks. With
    Weatherable you can now feel safe, ready and prepared.</p>
</div>
<div class="main-container">
  <app-search-city (submitCity)="onSubmitCity($event)"></app-search-city>
  <app-cities-list [selectedCities]="selectedCities"></app-cities-list>
</div>
<footer class="text-center">
  <p>© Workable Technology Limited 2012-2021</p>
</footer>
