<div class="list-cities-wrap" *ngIf="selectedCities.length > 0; else noData;">
    <div class="city-weather-card" *ngFor="let city of selectedCities">
      <div class="weather-details">
        <h3 class="heading-color w-temp mt-0 mb-20">{{city.temperature | celsiusTemp | number:'1.0-0'}} °C</h3>
        <p class="text-color w-descr mb-20">{{city.weatherDescription}}</p>

        <p class="text-color w-city">{{city.city}}</p>
        <p class="text-color w-cordinates">{{city.latitude}}° N, {{city.longitude}}° W</p>

      </div>
      <div class="weather-icon">
        <img [src]="city.icon | weatherIcon">
      </div>
    </div>
  </div>
   <ng-template #noData>
    <p class="no-data-placeholder"><i>There are not any searched cities.</i></p>
  </ng-template>