<div class="search-city-wrap">
    <div class="search-city-con">
        <div class="input-wrap">
            <img src="../../../assets/icons/app-icons/pin.png">
            <input [formControl]="searchControl" placeholder="Example: New York, United States" type="text" (keyup.enter)="onSubmit()">
        </div>
        <button (click)="onSubmit()" type="submit" (keydown.enter)="onSubmit()">Submit</button>
    </div>
</div>