@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:host,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
small {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}
.d-flex {
  display: flex;
}
.mt-0 {
  margin-top: 0px;
}
.mb-20 {
  margin-bottom: 20px;
}
.heading-color {
  color: #373656;
}
.text-color {
  color: #333e49;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 96px;
  background: #ffffff;
  box-shadow: 0px 5px 29px rgba(0, 0, 0, 0.1);
  justify-content: center;
  z-index: 1000;

  .mobile-logo-img {
    display: none;
  }

  .desktop-logo-img {
    width: 240px;
    height: 80.15px;
  }
}

.banner-lg {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 29% auto auto 29%;
  grid-template-rows: auto auto;
  background: #f7f7ff;
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 32px;
  }

  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

footer {
  margin-top: 100px;
  padding: 74px 0;
  text-align: center;
  background-color: #373656;

  p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #d2d2f7;
  }
}


.list-cities-wrap {
  padding: 4.3% 9%;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));

  .city-weather-card {
    cursor: pointer;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: all 1s;
    transition: all 1s;

    h3.w-temp {
      font-weight: 800;
      font-size: 36px;
      line-height: 36px;
    }

    p.w-descr {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
    }

    p.w-city,
    p.w-cordinates {
      font-weight: normal;
    }

    p.w-city {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 8px;
    }

    p.w-cordinates {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .city-weather-card:hover {
    background: #ffffff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transform: translate(1%, 9%);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

.no-data-placeholder {
  text-align: center;
  padding: 4.3% 9%;
  color: #636d77;
}

.search-city-wrap {
  background-image: url("./assets/icons/app-icons/map-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 136px 0;
  display: grid;
  grid-template-columns: 29% auto auto 29%;

  .search-city-con {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: transparent;
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 1fr 0.2fr;

    .input-wrap {
      position: relative;

      input {
        z-index: 10;
        width: 100%;
        height: 54px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        border: 0.75px solid #353383;
        box-sizing: border-box;
        border-radius: 8px;
        padding-left: 45px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        color: #636d77;
      }
      input:visited,
      input:focus {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        border: 1.5px solid #353383;
      }
      img {
        position: absolute;
        top: 15px;
        left: 16px;
      }
    }

    button {
      cursor: pointer;
      background: #373656;
      border-color: #373656;
      border-radius: 8px;
      color: white;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    button:hover {
      background: #353383;
      border-color: #353383;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    button:focus {
      outline: none;
    }
  }
}

.city-results {
  transition: all 1s;
  position: absolute;
  width: 100%;
  margin-top: 3px;

  ul {
    background: white;
    margin: 1px 0px;
    border-radius: 10px;
    list-style-type: none;
    text-align: left;
    padding: 0;
    box-shadow: 0px 20px 40px rgb(0 0 0 / 15%);

    li {
      padding: 10px;
    }

    li:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    li:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    li:hover {
      cursor: pointer;
      background-color: #f9f9f9;
    }
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 750px) {
  .header {
    height: 60px;

    .mobile-logo-img {
      width: 58, 08px;
      height: 47, 77px;
      display: block;
    }

    .desktop-logo-img {
      display: none !important;
    }
  }

  .banner-lg {
    padding: 64px 0;
    grid-template-columns: 18% auto auto 18%;

    h1 {
      font-size: 34px;
      line-height: 40px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .search-city-wrap {
    background-image: url("./assets/icons/app-icons/map-bg-mobile.png") !important;
    padding: 56px 0 !important;
    grid-template-columns: 10% auto 10% !important;

    .search-city-con {
      grid-column-end: 3 !important;
      grid-row-gap: 16px;
      grid-template-columns: none !important;

      .input-wrap {
        input {
          padding-left: 38px !important;
        }

        img {
          left: 12px !important;
        }
      }

      button {
        height: 54px;
      }
    }
  }

  .list-cities-wrap {
    padding: 11% 7.5% !important;
    grid-template-columns: none !important;

    .city-weather-card {
      padding: 32px;
    }
  }

  .no-data-placeholder {
    min-height: 170px;
    padding: 11% 7.5% !important;
  }

  footer {
    margin-top: 0px;
    padding: 40px 0;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 750px) {
  .banner-lg {
    padding: 64px 0;
    grid-template-columns: 22% auto auto 22% !important;
  }

  .search-city-wrap {
    grid-template-columns: 22% auto auto 22% !important;
  }

  .list-cities-wrap {
    padding: 47% 7%;
    grid-template-columns: repeat(2, minmax(200px, 1fr)) !important;
  }
}
